{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock css %}

{% block title %}
<title>TODOS</title>
{% endblock title %}

{% block content %}
<section class="hero is-black">
    <div class="hero-body">
      <h1 class="title">
        TODOs
      </h1>
      <p class="subtitle">
        No vuelvas a olvidar hacer algo
      </p>
    </div>
</section>

<section class="section">
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="field">
                <label class="label">Contenido:</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Lavar los platos..." name="new_todo" />
                </div>
            </div>
            <button  class="button is-link" type="submit">Crear</button>
        </form>
        
        <div class="content">
            <ul>
                {% for todo in todos %}
                    <li>{{ todo }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock javascript %}

