{% extends 'base.html' %}

{% block title %}
  <title>Iniciar sesión</title>
{% endblock title %}


{% block content %}
  <section class="section">
    <div class="container">
      {% if error %}
      <div class="notification is-danger is-light">
        {{ error }}
      </div>
      {% endif %}

      <h1 class="title">Iniciar sesión</h1>
      
      <form method="post">
        {% csrf_token %}
        <div class="field">
          <label class="label">Nombre de usuario:</label>
          <div class="control">
            <input class="input" type="text" name="username" />
          </div>
        </div>

        <div class="field">
          <label class="label">Contraseña:</label>
          <div class="control">
            <input class="input" type="password" name="password" />
          </div>
        </div>

        <div class="field is-grouped mt-5">
          <div class="control">
            <button type="submit" class="button is-link">Iniciar sesión</button>
          </div>
          <div class="control">
            <button type="reset" class="button is-link is-light">Reiniciar</button>
          </div>
        </div>

      </form>      
    </div>
  </section>
{% endblock content %}
